html,body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:aliceblue;
}

.topper {
    min-height:50px;
}

#navbar {
    padding: 10px;
}

#navbar a {
    color: midnightblue;
}

#navbar li {
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
}